files:
  "/etc/httpd/conf.d/phabricator.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
          ServerAdmin admin@pb.com
          DocumentRoot /var/www/html/phabricator/webroot/
          ServerName phabricator.example.com
          ServerAlias www.phabricator.it.com
          RewriteEngine on
          RewriteRule ^/rsrc/(.*)     -                       [L,QSA]
          RewriteRule ^/favicon.ico   -                       [L,QSA]
          RewriteRule ^(.*)$          /index.php?__path__=$1  [B,L,QSA]
          <Directory /var/www/html/phabricator/webroot/>
              AllowOverride All
          </Directory>
          ErrorLog /var/log/httpd/phabricator.it.com-error_log
          CustomLog /var/log/httpd/phabricator.it.com-access_log common
      </VirtualHost>