container_commands:

  01:
    command: "sudo git clone https://github.com/dliskevch/phabricator.git"
    cwd: /var/app/ondeck
  02:
    command: "./bin/config set mysql.host $db_endpoint"
    cwd: /var/app/ondeck/phabricator
  03:
    command: "./bin/config set mysql.user $db_user"
    cwd: /var/app/ondeck/phabricator
  04:
    command: "./bin/config set mysql.pass $db_password"
    cwd: /var/app/ondeck/phabricator
  05:
    command: "./bin/storage upgrade --force"
    cwd: /var/app/ondeck/phabricator
    ignoreErrors: true