container_commands:
# commands:
#  01a:
#    command: "sudo mkdir /var/www/html/phabricator"
#    ignoreErrors: true
#  02a:
#    command: "sudo git clone https://github.com/phacility/libphutil.git"
#    cwd: /var/www/html/phabricator
#    ignoreErrors: true
#  02b:
#    command: "sudo git clone https://github.com/phacility/arcanist.git"
#    cwd: /var/www/html/phabricator
#  02c:
#    command: "sudo git clone https://github.com/phacility/phabricator.git"
#    cwd: /var/www/html/phabricator
#  02d:
#    command: "sudo chown -R apache: /var/www/html/phabricator"
#  01:
#    command: "sudo git clone https://github.com/phacility/phabricator.git"
#    cwd: /var/app/ondeck
  02:
    command: "./bin/config set mysql.host $db_endpoint"
#    command: "./bin/config set mysql.host database-1.c7zsdznzbhwi.us-east-2.rds.amazonaws.com"
    cwd: /var/app/ondeck/phabricator
  03:
    command: "./bin/config set mysql.user $db_user"
#    command: "./bin/config set mysql.user admin"
    cwd: /var/app/ondeck/phabricator
  04:
    command: "./bin/config set mysql.pass $db_password"
#    command: "./bin/config set mysql.pass adminphabr756"
    cwd: /var/app/ondeck/phabricator
  05:
    command: "./bin/storage upgrade --force"
    cwd: /var/app/ondeck/phabricator
    ignoreErrors: true
#  restart_apache:
#    command: "service httpd restart"